<table class="table table-condensed">
<thead></thead>
<tbody>
{% for key, val in info.items %}
{% if val.date %}
<tr><td>date</td><td nowrap>{{val.date}}</td></tr>
{% endif %}
{% if val.temp %}
<tr><td>temperature</td><td>{{val.temp|floatformat:1}} &deg;C</td></tr>
{% endif %}
{% if val.precipitation %}
<tr><td>precipitation</td><td>{{val.precipitation|floatformat:2}} mm</td></tr>
{% endif %}
{% if val.waterlevel %}
<tr><td>water level</td><td>{{val.waterlevel|floatformat:2}} m</td></tr>
{% endif %}
{% endfor %}
</tbody>
</table>
